SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'team_stats_cache' AND column_name LIKE '%zone%' OR column_name LIKE '%third%' OR column_name LIKE '%conversion%' ORDER BY column_name;
